.message-list-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* adjust as needed */
    padding-bottom: 100px; /* 这应该与输入容器的高度相同或更大一些，以确保消息不会被遮挡 */

}

.message {
    padding: 10px; /* adjust as needed */
    border-radius: 5px; /* adjust as needed */
}

.message.user {
    background-color: #e1f5fe; /* light blue, adjust as needed */
    align-self: flex-end;
    text-align: left;
}

.message.system { /* replace otherRole with the actual role(s) you have */
    background-color: #f1f0f0; /* light grey, adjust as needed */
    align-self: flex-start;
    text-align: left;
}

.message-content {
    /* additional styles for the message content if needed */
}

.input-container {
    /* 添加阴影、边框等样式以改善外观 */
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
}

.message-page-container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.messages-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}


.avatar {
    height: 30px; /* 设置头像的高度 */
    width: 30px; /* 设置头像的宽度 */
    border-radius: 5px; /* 设置较小的值来得到圆润的角 */
    object-fit: cover; /* 确保图片填充但不变形 */
    margin-right: 10px; /* 选择一个你喜欢的值 */

}

.message {
    display: flex; /* 使用flexbox来排列头像和消息内容 */
    align-items: flex-start; /* 让项与容器的顶部对齐 */
    /* ... other styles ... */
}


.message.partner .avatar {
    margin-right: 50px; /* 如果是对方的消息，头像和消息之间添加一些间隔 */
}

.message.user .avatar {
    margin-left: 1px; /* 如果是用户的消息，头像和消息之间添加一些间隔 */
}