/* SessionList.css */

.session-list-container {
    padding: 20px;
     width: 1000px; 
    background-color: #f7f7f7;
    border-right: 1px solid #dcdcdc;
    height: calc(100vh - 200px); /* 调整为适合您的布局的高度 */
    overflow-y: auto; /* 允许垂直滚动 */
}

.session-item {
    padding: 10px 15px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.session-item:hover {
    background-color: #e1e1e1;
}

.active-session {
    background-color: #d1f3d1;
}

.session-name {
    margin: 0;
    flex-grow: 1;
}

.edit-session,
.delete-session {
    border: none;
    background: none;
    padding: 5px;
    cursor: pointer;
    font-size: 1.2em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
}

.edit-session:hover svg,
.delete-session:hover svg {
    fill: #136f9482; /* Or another color indicating interactivity */
}

/* Hide the native outline shown on focus for better aesthetics, optional */
.edit-session:focus,
.delete-session:focus {
    outline: none;
}

.active {
    background-color: #add8e6; /* Light blue, or any other color you prefer */
}

.icon {
    width: 16px;
    height: 16px;
    fill: currentColor; /* Allows changing color using 'color' CSS property on the parent */
}
.edit-session svg, .delete-session svg {
    width: 20px; /* 或者其他任何大小 */
    height: 20px;
    fill: #000; /* 或任何其他颜色以与您的设计匹配 */
}
